.missed_display {
    left:5%;
    position: absolute;
    top:35%;

    .field {
        align-items: center;
        border-bottom: 1px solid rgba(255,0,0,1);
        box-sizing: border-box;
        color: rgba(255,0,0,1);
        display: inline-flex;
        height: 24px;
        margin: 2px;
        overflow: hidden;
        text-align: center;
        width: 15px;
    }
}